<div class="container-global" data-controller="form" data-form-target="window">

  <div>
    <p data-form-target="result">


    
    </p>
  </div>
  <br><br>


  <%= simple_form_for @translation, url: translations_path, html: {data: {action: "submit->form#display"}} do |f| %>
    <%= f.input :content,
                label: "Text input:",
                required: false,
                placeholder: "Enter here the text that you want to transform into bionic reading",
                  as: :text,
                  input_html: {data: {form_target: "input"}}%>
    <%= f.submit "Apply Bionic Reading to my text",
                  class: "btn btn-success rounded-pill"
                  # ,data: {action: "click->form#display"}
    %>
  <% end %>


<br><br>
  <p><em>To try again with another text, edit directly your text in the text area or click below:
  <button data-action="click->form#reloadPage" class="btn btn-primary rounded-pill">New translation</button>

  <%# <ul data-form-target="list">
  <li>Oui</li>
  <li>Ouiiii</li>
  <li>OUIII</li>
  </ul> %>
</div>


<%# <p><strong>oui</strong></p> %>

  <%#= @translation.content %>
  <%# @translations&.last(5).each do |translation|  %>
    <%#= translation.content.split(" ").first(5).join(" ") %>
    <%#= translation.id - <%= translation.content %>
  <%# end %>
